<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".AuthUserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolbarActivity"
            android:exported="false" />
        <activity
            android:name=".AllUsersTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".ViewUserMeActivity"
            android:exported="false" />
        <activity
            android:name=".UserTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".UserAchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".UserMeAchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".FormToAddTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogCommandActivity"
            android:exported="false" />
        <activity
            android:name=".CommandActivity"
            android:exported="false" />
        <activity
            android:name=".ViewUserGuestModeActivity"
            android:exported="false" />
        <activity
            android:name=".EditPetProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPetProfileGuestActivity"
            android:exported="false" />
        <activity
            android:name=".FormToAddPetActivity"
            android:exported="false" />
        <activity
            android:name=".FormToAddCommandActivity"
            android:exported="false" />
        <activity
            android:name=".ViewListPetsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewListPetsGuestActivity"
            android:exported="false" />
    </application>

</manifest>